<!DOCTYPE html>
<html lang="en"> <!-- ภาษาหลักในเว็บ -->
<head>
    <meta charset="UTF-8">
    <title>CMM19</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
    <link rel="stylesheet" href="/assets/home.css">
</head>
<body>
  <header>
    <div class="has-text-centered">
      <img src="/assets/images/logo2.png" alt="" width="145" height="auto">
    </div>
      <nav class="navbar-tabs"><!-- navigation bar -->
        <a href="#" class="navbar-item">work</a> <!--aคือการที่ให้กดตรงitemได้ #ไว้ใส่ลิ้งหน้าที่ต้องการให้ลิ้งไป--> <!-- . คือเข้าถึงclass-->
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
      </nav> 
  </header>
  <main>
      <section class="banner">
        <div class="highlight">
          <div class="columns"><!--คอรั่มที่ใช้ได้ 12คอรั่ม-->
            <div class="column highlight-item">
              <h1>สวนตูด</h1>
            </div>
          </div>
        </div>
        <div class="tumbnail">
          <div class="columns is-marginless">
            <div class="column tumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
              เยี่ยม              
            </div>
            <div class="column tumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
              เยี่ยม
            </div>
            <div class="column tumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
              เยี่ยม
            </div>
            <div class="column tumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
              เยี่ยม
            </div>
          </div>
        </div>
      </section>
      <section class="section we-present">
        <div class="container">
        <div class=" columns">
          <div class="column has-text-left">
            <a href="#">Lastet</a>
          </div>
          <div class="column has-text-centered">
            WE preset
          </div>
          <div class="column has-text-right">
            <a href="#">search</a>
          </div>
        </div>
        <div class="columns is-multiline">
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-1.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-2.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-3.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-4.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-5.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-6.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>                    
        </div>

      </div>
      </section>
  </main>
</body>

</html>