{% extends 'layout/base.twig' %}


 {% block stylesheet %}
  <link rel="stylesheet" href="/assets/home.css">
  {% endblock %}
  {% block content %}
  
  <main>
      <section class="banner">
        <div class="highlight">
          <div class="columns"><!--คอรั่มที่ใช้ได้ 12คอรั่ม-->
            <div class="column highlight-item" style="background-image: url({{ highlight.url }});">
              <h1>{{ highlight.title }}</h1>
            </div>
          </div>
        </div>
        <div class="tumbnail">
          <div class="columns is-marginless">
            {% for item in thumbnail %}
            <div class="column tumbnail-item is-paddingless" style="background-image: url({{ item.url }});">
              {{ item.title }}              
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <section class="section we-present">
        <div class="container">
        <div class=" columns">
          <div class="column has-text-left">
            <a href="#">Lastet</a>
          </div>
          <div class="column has-text-centered">
            WE preset
          </div>
          <div class="column has-text-right">
            <a href="#">search</a>
          </div>
        </div>
        <div class="columns is-multiline">
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-1.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-2.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-3.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-4.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-5.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>      
          <a href="#" class="column is-one-third">
            <div class="card">
              <div class="card-image">
                <figure class="images is-3by2">
                  <img src="/assets/images/home/we-preset/img-6.jpg" alt="รูปหายไอฟายยย">
                </figure>
              </div>  
              <div class="card-content">
                <h5 class="category">ไอสาด</h5>
                <h3 class="title is-spaced is-4">เมื่อไหร่จะเลิก</h3>
                <h4 class="subtitle is-6">ไม่ไหวแล้ว</h4>
                <p>ไม่ไหวแล้ววววววววววววววววววววววววววววววววววววววววววว</p>

              </div>            
            </div>
          </a>                    
        </div>

      </div>
      </section>
  </main>
</body>

</html>
{% endblock %}