<header>
    <div class="has-text-centered">
      <img src="/assets/images/logo2.png" alt="" width="145" height="auto">
    </div>
      <nav class="navbar-tabs"><!-- navigation bar -->
        <a href="#" class="navbar-item">w</a> 
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
        <a href="#" class="navbar-item">work</a>
      </nav> 
  </header>